{
	"DEPLOY_VERTICLES": [
		"kr.co.kti.lcs.verticle.DTGServerVerticle",
		"kr.co.kti.lcs.worker.AuthWorker",
		"kr.co.kti.lcs.worker.DAOManagerWorker",
		"kr.co.kti.lcs.worker.DrivingDataProcWorker",
		"kr.co.kti.lcs.worker.EventDataProcWorker",
		"kr.co.kti.lcs.worker.FileCreateWorker",
		"kr.co.kti.lcs.worker.TraceLogWorker"
	],
	"kr.co.kti.lcs.verticle.DTGServerVerticle": {
		"DEPLOY_INFO": {
			"IS_WORKER": false,
			"INSTANCE_NUM": 4,
			"IP": "127.0.0.1",
			"PORT": 39001,
			"MAXCONN": 5000,
			"RES_IP":"183.99.59.172"
		}
	},
	"kr.co.kti.lcs.worker.AuthWorker": {
		"DEPLOY_INFO": {
			"IS_WORKER": true,
			"INSTANCE_NUM": 1
		}
	},
	"kr.co.kti.lcs.worker.DAOManagerWorker": {
		"DEPLOY_INFO": {
			"IS_WORKER": true,
			"INSTANCE_NUM": 5
		},
		"DB_INFO": {
			"url": "jdbc:mariadb://192.168.30.22:3306/vdis",
			"user": "vdis",
			"password": "db1234!",
			"driver_class": "org.mariadb.jdbc.Driver",
			"initial_pool_size": 2,
			"max_pool_size": 2
		}
	},
	"kr.co.kti.lcs.worker.DrivingDataProcWorker": {
		"DEPLOY_INFO": {
			"IS_WORKER": true,
			"INSTANCE_NUM": 5
		}
	},
	"kr.co.kti.lcs.worker.EventDataProcWorker": {
		"DEPLOY_INFO": {
			"IS_WORKER": true,
			"INSTANCE_NUM": 2
		}
	},
	"kr.co.kti.lcs.worker.FileCreateWorker": {
		"DEPLOY_INFO": {
			"IS_WORKER": true,
			"INSTANCE_NUM": 5
		}
	},
	"kr.co.kti.lcs.worker.TraceLogWorker": {
		"DEPLOY_INFO": {
			"IS_WORKER": true,
			"INSTANCE_NUM": 1
		}
	},
	"TRACEDATA_PATH": "C:\\PDS\\PC_PDS\\dtg",
	"MOBILEEVENTDATA_PATH": "C:\\PDS\\PC_PDS\\dtg",
	"MOBILERAWDATA_PATH": "C:\\PDS\\PC_PDS\\dtg",
	"TEMP_PATH":"C:\\PDS\\PC_PDS\\file_temp",
	
	"TRACEDATA_PATH_SRC": "/data/tlog",
	"MOBILEEVENTDATA_PATH_SRC": "/data/event",
	"MOBILERAWDATA_PATH_SRC": "/data/dtg"
}
